<div class="login-section">
    <div class="row justify-content-center">
        <div class="col-1 col-lg-4"></div>
        <div class="col-10 col-lg-4">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Log in</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group row">
                            <div>
                                <label class="text-with-inline-placeholder col-12">
                                    <input type="text" placeholder=" " [formControlName]="'username'"
                                           class="form-control text-edit">
                                    <span class="text-hint">Username</span>
                                </label>
                                <span *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched"
                                      class="help-block">Please enter a valid username</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div>
                                <label class="text-with-inline-placeholder col-12">
                                    <input type="password" placeholder=" " [formControlName]="'password'"
                                           class="form-control text-edit" id="password"
                                           name="password">
                                    <span class="text-hint">Password</span>
                                </label>
                                <span *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched"
                                      class="help-block">Please enter a password</span>
                            </div>
                        </div>

                        <div style="text-align: center">
                            <button type="submit" class="login" [disabled]="!loginForm.valid">Log In</button>
                            <br/>
                            <span>New user? <a routerLink="/signup" class="signup">SIGN UP</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1 col-lg-4"></div>
    </div>
</div>
