<div class="container">
  <div class="row">
    <div class="col-1 col-lg-3"></div>
    <div class="create-forum-container col-10 col-lg-6">
      <form class="forum-form" [formGroup]="createForumForm" (ngSubmit)="createForum()">
        <div class="form-group">
          <div class="create-forum-heading">Create forum</div>
          <br />
          <div>
          <label class="text-with-inline-placeholder form-group col-12">
            <input type="text" placeholder=" " [formControlName]="'title'" class="form-control text-edit">
            <span class="text-hint">Name</span>
          </label>
          <span *ngIf="!createForumForm.get('title')?.valid && createForumForm.get('title')?.touched" class="help-block">Name cannot be empty</span>
        </div>
        <div>
          <label class="text-with-inline-placeholder form-group col-12">
            <textarea type="text" placeholder=" " [formControlName]="'description'" class="form-control text-edit"></textarea>
            <span class="text-hint">Description</span>
          </label>
          <span *ngIf="!createForumForm.get('description')?.valid && createForumForm.get('description')?.touched" class="help-block">Description cannot be empty</span>
        </div>
          <div>
            <div style="text-align: center" class="float-right">
              <button (click)="discard()" class="btnDiscard">Discard</button>
              <button type="submit" class="btnCreateForum" [disabled]="!createForumForm.valid">Create</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
