<div class="sidebar">
    <div class="header">
        <img class="img" src="https://images.pexels.com/photos/2693200/pexels-photo-2693200.jpeg?cs=srgb&dl=pexels-anni-roenkae-2693200.jpg&fm=jpg&h=150&w=400&fit=crop">
        <a class="title" routerLink="/">Home</a>
    </div>
    <div class="sidebar-contents">
        <div class="text" style="font-size: 16px;">Explore some of your favorite topics on the internet.</div>
        <br/>
        <div style="text-align: center">
            <button class="btnCreatePost" routerLink="/create-post">Create Post</button>
            <button class="btnCreateForum" routerLink="/create-forum">Create Forum</button>
        </div>
    </div>
</div>
