<div class="register-section">
    <div class="row g-0 justify-content-center">
        <div class="col-1 col-lg-4 g-0"></div>
        <div class="col-10 col-lg-4 g-0">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Sign up</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="signupForm" (ngSubmit)="signup()">
                        <div class="form-group row">
                            <div>
                                <label class="text-with-inline-placeholder col-12 g-0">
                                    <input type="text" placeholder=" " [formControlName]="'email'"
                                           class="form-control text-edit">
                                    <span class="text-hint">Email</span>
                                </label>
                                <span *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched"
                                      class="help-block">Please enter a valid email address</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div>
                                <label class="text-with-inline-placeholder col-12 g-0">
                                    <input type="text" placeholder=" " [formControlName]="'username'"
                                           class="form-control text-edit">
                                    <span class="text-hint">Username</span>
                                </label>
                                <span *ngIf="!signupForm.get('username')?.valid && signupForm.get('username')?.touched"
                                      class="help-block">Please enter a valid username</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div>
                                <label class="text-with-inline-placeholder col-12 g-0">
                                    <input type="password" placeholder=" " [formControlName]="'password'"
                                           class="form-control text-edit" id="password"
                                           name="password">
                                    <span class="text-hint">Password</span>
                                </label>
                                <span *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched"
                                      class="help-block">Please enter a valid password</span>
                            </div>
                        </div>

                        <div style="text-align: center">
                            <button type="submit" class="sign-up" [disabled]="!signupForm.valid">Sign Up</button>
                            <br/>
                            <span>Existing user? <a routerLink="/login" class="login">LOG IN</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1 col-lg-4 g-0"></div>
    </div>
</div>
