<div class="app-body">
    <div class="container">
        <div class="row g-0">
            <div class="col-sm-0 col-md-0 col-lg-1 g-0 order-0"></div>
            <div class="col-sm-12 col-md-8 col-lg-7 g-0 order-2 order-md-1 order-lg-1">
                <app-post-tile></app-post-tile>
            </div>
            <div class="col-sm-0 col-md-4 col-lg-3 g-0 order-1 order-md-2 order-lg-2">
                <app-side-bar></app-side-bar>
                <app-forum-side-bar></app-forum-side-bar>
            </div>
        </div>
    </div>
</div>
